.center {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100% !important;
}
.link:hover {
  text-decoration: underline;
  cursor: pointer;
  }